In [8]:
import math
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, GRU, Bidirectional, Dropout
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt

In [9]:
df = pd.read_csv("STOCK_INDEX.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,5200.899902,5238.450195,5167.100098,5232.200195,5232.200195,0.0
1,2010-01-05,5277.149902,5288.350098,5242.399902,5277.899902,5277.899902,0.0
2,2010-01-06,5278.149902,5310.850098,5260.049805,5281.799805,5281.799805,0.0
3,2010-01-07,5281.799805,5302.549805,5244.750000,5263.100098,5263.100098,0.0
4,2010-01-08,5264.250000,5276.750000,5234.700195,5244.750000,5244.750000,0.0
...,...,...,...,...,...,...,...
2689,2021-04-26,14449.450200,14557.500000,14421.299810,14485.000000,14485.000000,452700.0
2690,2021-04-27,14493.799810,14667.549810,14484.849610,14653.049810,14653.049810,451800.0
2691,2021-04-28,14710.500000,14890.250000,14694.950200,14864.549810,14864.549810,457000.0
2692,2021-04-29,14979.000000,15044.349610,14814.450200,14894.900390,14894.900390,517500.0
2693,2021-04-30,14747.349610,14855.450200,14601.700200,14631.099610,14631.099610,613900.0

In [10]:
df.dropna(inplace=True)

In [26]:
close_prices = df['Close']
values = close_prices.values
training_data_len = math.ceil(len(values)* 0.8)
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(values.reshape(-1,1))
train_data = scaled_data[0:training_data_len, :]

x_train = []
y_train = []

for i in range(2, len(train_data)):
    x_train.append(train_data[i-2 : i, 0])
    y_train.append(train_data[i, 0])
    
x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape=(x_train.shape[1], 1)))
model.add(LSTM(64))
model.add(Dense(1))

model.compile(optimizer="adam", loss="mean_squared_error")
model.fit(x_train, y_train, validation_split=0.1, batch_size=32, epochs=20)

model.save('lstm_Model.h5')

Epoch 1/20
60/60 [==============================] - 4s 21ms/step - loss: 0.0144 - val_loss: 3.2948e-04
Epoch 2/20
60/60 [==============================] - 1s 13ms/step - loss: 1.4431e-04 - val_loss: 2.6440e-04
Epoch 3/20
60/60 [==============================] - 1s 12ms/step - loss: 9.1616e-05 - val_loss: 2.7237e-04
Epoch 4/20
60/60 [==============================] - 1s 12ms/step - loss: 8.3734e-05 - val_loss: 2.5477e-04
Epoch 5/20
60/60 [==============================] - 1s 12ms/step - loss: 7.9382e-05 - val_loss: 2.0532e-04
Epoch 6/20
60/60 [==============================] - 1s 12ms/step - loss: 7.5751e-05 - val_loss: 1.7100e-04
Epoch 7/20
60/60 [==============================] - 1s 12ms/step - loss: 7.3051e-05 - val_loss: 1.5243e-04
Epoch 8/20
60/60 [==============================] - 1s 13ms/step - loss: 7.2969e-05 - val_loss: 1.7053e-04
Epoch 9/20
60/60 [==============================] - 1s 14ms/step - loss: 6.8982e-05 - val_loss: 1.0244e-04
Epoch 10/20
60/60 [==============================] - 1s 13ms/step - loss: 6.6768e-05 - val_loss: 1.0409e-04
Epoch 11/20
60/60 [==============================] - 1s 12ms/step - loss: 6.6820e-05 - val_loss: 1.0033e-04
Epoch 12/20
60/60 [==============================] - 1s 12ms/step - loss: 6.8791e-05 - val_loss: 1.1750e-04
Epoch 13/20
60/60 [==============================] - 1s 12ms/step - loss: 6.7961e-05 - val_loss: 1.0523e-04
Epoch 14/20
60/60 [==============================] - 1s 12ms/step - loss: 6.8380e-05 - val_loss: 1.2355e-04
Epoch 15/20
60/60 [==============================] - 1s 13ms/step - loss: 6.9630e-05 - val_loss: 1.5166e-04
Epoch 16/20
60/60 [==============================] - 1s 12ms/step - loss: 6.8636e-05 - val_loss: 1.0257e-04
Epoch 17/20
60/60 [==============================] - 1s 13ms/step - loss: 6.6075e-05 - val_loss: 9.8977e-05
Epoch 18/20
60/60 [==============================] - 1s 12ms/step - loss: 6.5345e-05 - val_loss: 9.8243e-05
Epoch 19/20
60/60 [==============================] - 1s 12ms/step - loss: 6.5978e-05 - val_loss: 1.0398e-04
Epoch 20/20
60/60 [==============================] - 1s 14ms/step - loss: 7.2126e-05 - val_loss: 9.7732e-05

In [13]:
print(x_train.shape)

(2665, 2, 1)